.App {
    background: url('../pattern-3371709_1920.jpg') repeat center;
}

.auth{
    background: url('../stretched-1280-1024-1051430.jpg') repeat center;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

.Details {
    background: url('../stretched-1280-1024-887662.jpg') repeat center;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}