#upload_widget {
    width: 200px;
}

.createPicture{
    text-align: center!important;
}

.Pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.picture-image > .card{
    height: 300px;
    font-style: italic;
    font-weight: 600;
}

.picture-text > img{
    margin-top: 20px;
}

.gallery-button {
    margin: 30px;
    background: #7A2030;
}