.Footer {
  background-image: linear-gradient(to right bottom, #c24d90, #d25984, #dc6a7a, #e17b74, #e28e73, #e89b71, #eca970, #eeb770, #f3c668, #f2d761, #ece85e, #e0fb5f)!important;
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
}

.Footer > ul {
  display: flex;
  flex-wrap: wrap;
  color: #0043ff!important;
  font-style: italic;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 0;
}

.Footer > ul > ul > li{
  list-style: none;
  font-weight: bold;
}

.footer-image > li > img {
  width: 80px;
  height: 60px;
}

.footer-image{
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

