.Footer {
  background-image: linear-gradient(to right bottom, #c24d90, #d25984, #dc6a7a, #e17b74, #e28e73, #e89b71, #eca970, #eeb770, #f3c668, #f2d761, #ece85e, #e0fb5f)!important;
  
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
}

.Footer > nav .listItem a {
  color: #2094a7!important;
}