.Posts {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.Posts > .card{
  height: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-title > h5 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: bold;
}

.post-link {
  margin-top: 10px;
}

.post-link > a{
  font-size: 20px;
  font-style: italic;
}
